// Define variables for your color scheme

// For example:
$red: rgba(255, 71, 87, 1.0);
$dark-blue: #242448;
$blue: #0097e6;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$green-win: #04DEAD;
$gray: #000000;
$medium-gray: #CDCDCD;
$dark-gray: #484848;
$wagon-gray: #F4F4F4;
$light-gray: rgb(250,250,250);
$white: #ffffff;
$box-shadow: rgba(0,0,0,0.75);


$medium-blue: #ffffff;
$button: #fdcb6e;
