// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Exo", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
