// Specific CSS for your home-page


.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.banner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $medium-blue;
  height: 90px;
  margin-bottom: 100px;

  h1{
    position: fixed;
    top: 12px;
    left: 25px;
    color: $white;
    font-family: "Lato";
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
  }
  h2 {
    font-family: "Roboto";
    font-weight: 300;
    color: $medium-blue;
    font-weight: normal;
    opacity: 1;
    font-size: 30px;
  }
  h3 {
    font-family: "Roboto";
    font-weight: 300;
    color: $medium-blue;
    font-weight: normal;
    opacity: 0.7;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 90px;
  }

  .yellow {
    color: $button;
  }
}

.reassurance {
  display: flex;
}

#typed-text-container {
  display: flex;
}

#banner-typed-text {
  opacity: 1;
  color: $button;
  font-weight: normal;
}

.typed-cursor {
  color: $button;
  font-size: 28px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
