// Specific CSS for your home-page


.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-bottom: 30px;
  height: 90px;
  h1{
    color: $white;
    font-size: 58px;
  }
}
