// Specific CSS for your home-page

// Smartphone design
@media screen and (max-width: 480px)
{
  .navbar-home {
    text-align: center;
    .img-logo-home {
      margin-left: 0px !important;
    }
  }

  .banner-title {
    #title-home {
      font-size: 22px;
    }
    h3 {
      display: none;
    }
  }

  .reassurance {
    display: none;
    i {
      display: none;
    }
  }
}

// Tablet design
@media screen and (min-width : 480px) and (max-width: 900px)
{
  .navbar-home {
    text-align: center;
    .img-logo-home {
      margin-left: 0px !important;
    }
  }

  .banner-title {
    h3 {
      display: none;
    }
  }

  .reassurance {
    display: none;
    i {
      display: none;
    }
  }
}





// Desktop design
.home-wrapper {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.navbar-home {
  text-align: center;
  h1 {
    padding-top: 20px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 70px);
}

.eekend {
  color: $white;
  font-family: "Lato";
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 900;
}

.img-logo-home {
  height: 32px;
  margin-left: 20px;
}

.banner-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  // height: 90px;
  // padding-top: 20px;
  // margin-bottom: 15vh;

  h2 {
    margin-top: 0px;
    font-family: "Roboto";
    font-weight: 300;
    color: $white;
    font-weight: normal;
    opacity: 1;
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-family: "Roboto";
    font-weight: normal;
    color: $white;
    opacity: 1;
    font-size: 18px;
    // margin-top: 20px;
    // margin-bottom: 80px;
  }
}

.reassurance {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}

.reassurance-item {
  text-align: center;
  width: 33%;
  // margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgba(72, 72, 72, 0.6);
  border-radius: 5px;
  h3 {
    color: $white;
    font-size: 18px;
  }

  .fa-paper-plane, .fa-thumbs-up, .fa-exchange-alt, {
    color: #208DA9;
    // margin-top: 30vh;
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;
    background-color: $yellow;
  }
}


#typed-text-container {
  display: flex;
}

#banner-typed-text {
  opacity: 1;
  color: $yellow;
  font-weight: normal;
}

.research-button:focus {
  outline: 0;
}

.typed-cursor {
  color: $yellow;
  font-size: 28px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

// Typed cursor flashing
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
