// Specific CSS for your home-page

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding-top: 20vh;
  height: 100vh;
  background-size: cover;
}

.banner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  height: 90px;
  margin-top: 1vh;
  margin-bottom: 15vh;

  h1{
    position: fixed;
    top: 12px;
    left: 25px;
    color: $white;
    font-family: "Lato";
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
  }
  h2 {
    font-family: "Roboto";
    font-weight: 300;
    color: $white;
    font-weight: normal;
    opacity: 1;
    font-size: 30px;
  }
  h3 {
    font-family: "Roboto";
    font-weight: 300;
    color: $white;
    font-weight: bold;
    opacity: 0.8;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .yellow {
    color: $yellow;
  }
}


#typed-text-container {
  display: flex;
}

#banner-typed-text {
  opacity: 1;
  color: $yellow;
  font-weight: normal;
}

.typed-cursor {
  color: $yellow;
  font-size: 28px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.reassurance {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.reassurance-container {
  text-align: center;
  width: 30vh;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgba(72, 72, 72, 0.6);
  border-radius: 5px;
  h3 {
    color: $white;
    font-size: 18px;
  }

  i {
    margin-left: 50px;
    margin-right: 6px;
  }

  i:first-child {
    margin-left: 0px;
  }

  .fa-paper-plane, .fa-thumbs-up, .fa-exchange-alt, {
    color: #208DA9;
    margin-top: 30vh;
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;
    background-color: $yellow;
  }
}

.research-button:focus {
  outline: 0;
}
