<div class="col-xs-6 col-sm-3 col-md-2 loading-card">

  <div class="timeline-item flip-item">
    <div class="animated-background big-band-xs"></div>
    <div class="box">
      <div>
        <div class="animated-background small-band"></div>
        <div class="animated-background small-band-xs"></div>
      </div>
      <div class="animated-background circle"></div>
      <div>
        <div class="animated-background small-band"></div>
        <div class="animated-background small-band-xs"></div>
      </div>
    </div>
    <div class="box">
      <div>
        <div class="animated-background small-band"></div>
        <div class="animated-background small-band-xs"></div>
      </div>
      <div class="animated-background circle"></div>
      <div>
        <div class="animated-background small-band"></div>
        <div class="animated-background small-band-xs"></div>
      </div>
    </div>
    <div class="animated-background big-band"></div>
  </div>

</div>
