
      <div class='col-xs-6 col-sm-3 col-md-2'>
        <div class='card'>
          <div class='card-header'>
            <h1 class='card-title'>  <%= weekend[:go_flight][:dTime].strftime('%d/%m') %> -  <%= weekend[:return_flight][:dTime].strftime('%d/%m') %> </h1>
          </div>
        </div>
      </div>
