<div class="wishlist_filters_container">
  <!-- filter button -->
  <div class="wishlist-filter-button-container">
    <%= form_tag bookmarks_path, method: :get do %>
        <%= select_tag 'sort_by', options_for_select(@sorted_options, params[:sort_by]),
        {:class => 'wishlist-button-filter'} %>
        <%= button_tag type: 'submit', class: "research-button filter wishlish-research-button" do %>
        <p><i class="fas fa-sort-amount-down"></i></p>
        <% end %>
      <% end %>
  </div>
  <!-- New search button -->
    <%= link_to root_path do %>
     <h1 class="new-search-button">Nouvelle recherche</h1>
    <% end %>
</div>
