#results-to, #results-from {
  margin-top: 4px;
  width: 380px;
  border-radius: 3px;
  background-color: white;
  padding-left: 0px;
  position: absolute;
  top: 0;
  box-shadow: 0px 9px 31px -13px rgba(0,0,0,0.75);
}

#results-from {
  right: 11px;
  top: -30px;
}

#results-to {
  left: -8px;
  top: -30px;
}

.result {
  margin: 0px 20px;
  padding: 10px 0px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  img {
    margin-right: 10px;
  }
}

.result:last-child {
  border-bottom: none;
}

.result:hover {
  background-color: hsl(0, 0%, 97%);
  margin: 0px 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.location-name {
  font-weight: bold;
}

.country-name {
  color: gray;
}

.visible {
  border: 1px solid hsl(0, 0%, 90%);
}

.top-cities {
  text-align: left;
  letter-spacing: 1px;
  margin-left: 20px;
  list-style-type: none;
  font-size: 12px;
  text-transform: uppercase;
  color: grey;
  padding: 10px;
}

li.top-cities {
  padding-left: 0px;
}
