.navbar-wishlist {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #fdcb6e;
  transition: all 0.3s ease;
  padding: 0px 30px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wishlist-title {
    h2 {
    color: $dark-gray;
    text-align: center;
    margin-bottom: 0px;
    }
  }

  .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  .wishlist-navbar-logo-container {
    height: 70px;
    width-max: 250px;
    padding: 12px 0px;

  }
  .wishlist-navbar-logo {
    color: $white;
    font-family: "Lato";
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
    margin:0px;
    position: absolute;
    left: 25px;
  }
}


.wishlist_welcome_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  width: 100vw;
}

.title_if_no_bookmarks {
  i {
    color: $red;
  }
}

.trash_link {
    background: none;
    border: none;
    color: $medium-gray;
    padding: none;
}

.share-user.fas.fa-user-plus {
    background: none;
    border: none;
    color: $white;
    padding: none;
}

.fa-trash-alt {
  color:$white!important;
}
.fa-trash-alt:hover {
    color: black;
}

.fa-trash-selected {
  color: $red;
  &:hover {
    color: $red;
  }
}


.card-header-wishlist {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 20%;
  width: 100%;
}

.card-title-wishlist-date {
  color: $dark-gray;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 6px;
}

.card-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 6px;
  background-color: $yellow;
  border-top-right-radius: $border-radius-large;
  border-top-left-radius: $border-radius-large;
}

.icons-wishlist {
  display: flex;
  margin-right: 5px;
}

.card-title-wishlist {

  left: 0;
  top: 0;
  color: $white;
  margin: 7px!important;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 6px;
}
.card-title-wishlist:hover {
  text-decoration: none;
}

.card-height-wrapper {
  min-height: 240px;
}


.card-wishlist {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: $border-radius-large;
  border-top-left-radius: $border-radius-large;
  border-bottom-right-radius: $border-radius-large;
  border-bottom-left-radius: $border-radius-large;
  height: 230px;
  margin: 0px 10px 15px 10px !important;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0px 0 rgba(0, 0, 0, 0.03);
  h1 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .card-body-wishlist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;

    .card-body-element-wishlist{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      padding: 8px 0;
      // margin-top: 10px;
      margin-bottom: 0px;
      p {
        margin-bottom: 0;
      }

      .column-one {
        flex: 0 0 25%;
        text-align: center;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 16px;
        letter-spacing: 2.5px;
        :last-child {
          color: $medium-gray;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 1px;
        }

      }
      .column-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

        .airline-img {
          height: 20px;
          width: 20px;
          border-radius: 2px;
          box-shadow: inset -3.5px 2.7px 7px -6.5px rgba(0,0,0,0.75);
        }
      }
      .column-three {
        flex: 0 0 25%;
        text-align: center;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 16px;
        letter-spacing: 2.5px;
        :last-child {
          color: $medium-gray;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }

  }

  .card-footer-wishlist {
    background-color: white;
    border-top: 1px dotted $dark-blue;
    border-bottom-left-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;
    text-align: center;
    flex: 100%;
    position: relative;
    transition: background-color 200ms linear;
    background-color: $white;
    padding-top: 10px;
    .price h1 {
      color: $dark-gray;
      font-size: 25px;
      font-weight: bolder;
      margin-top: 5px;
      height: 37px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .bpk-ticket__notch {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .bpk-ticket__notch--left {
    position: absolute;
    left: -1px;
    top: 174px;
    z-index: 1;
    width: 6px;
    height: 10px;
    box-sizing: border-box;
    background-color: #F4F4F4;
    border: 0px solid #ffffff;
    box-shadow: inset -3.5px 2.7px 7px -6.5px rgba(0,0,0,0.75);
    border-bottom-right-radius: 20px;  /* 100px of height + 10px of border */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius:0px; /* 100px of height + 10px of border */
  }

  .bpk-ticket__notch--right {
    position: absolute;
    right: 0px;
    top: 174px;
    z-index: 1;
    width: 6px;
    height: 10px;
    box-sizing: border-box;
    background-color: #F4F4F4;
    border: 0px solid #ffffff;
    box-shadow: inset 3.5px 2.7px 7px -6.5px rgba(0,0,0,0.75);
    border-bottom-right-radius: 0px;  /* 100px of height + 10px of border */
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px; /* 100px of height + 10px of border */
  }

  .card-footer:hover {
    background-color: $white;
    text-decoration: none;
    h1 {
      color: #04DEAD;
    }
  }

}

.modal-btn {
  padding: 6px 22px;
  color: $white;
  height: 39.5px;
  border: 1px solid $yellow;
  background-color: $yellow;
  text-decoration: none;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  border-radius: 5px;
  &:hover {
    color: $dark-gray;
  }
}

