.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: $border-radius-large;
  height: 260px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 160px;
  max-width: 180px;
  max-height: 300px;
  background-color: #ffffff;
  box-shadow: 1px 2px 30px -12px rgba(0,0,0,0.75);

  .card-header{
    border-top-right-radius: $border-radius-large;
    border-top-left-radius: $border-radius-large;
    text-align: center;
    flex: 0 0 20%;
    width: 100%;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);


    .card-title {
      color: #ffffff;
      font-size: 17px;
      font-family: "Open Sans";
      margin-top: 18px;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;

    .card-body-element{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      padding: 10px 0;
      p {
        margin-bottom: 0;
      }

      .column-one {
        flex: 0 0 25%;
        text-align: center;
        :last-child {
          color: $medium-gray;
        }

      }
      .column-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

        .airline-img {
          height: 21px;
          width: 21px;
          border-radius: 50px;
          border: 1px solid $medium-gray;
        }
      }
      .column-three {
        flex: 0 0 25%;
        text-align: center;
        :last-child {
          color: $medium-gray;
        }
      }
    }

  }

  .card-footer {
    background-color: white;
    border-top: 1px dashed grey;
    border-bottom-left-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;
    text-align: center;
    flex: 0 0 20%;
    width: 100%;
    h1 {
      color: $gray;
      font-size: 25px;
      font-weight: bolder;
      margin-top: 12px;
      font-family: "Open Sans";
    }
  }

  .card-footer:hover {
    background-color: rgba(80, 201, 195, 0.1);
    text-decoration: none;
    h1 {
      color: rgba(80, 201, 195, 1);;
    }
  }

}
