.form-inputs {
  color: $gray;
  font-size: 18px;
  font-weight: normal;
  width: 333px;
}

.form-group {
  margin-left: 10px;
  font-size: 12px;
  flex: 0 0 45%;
}

.form-control {
  font-size: 12px !important;
  padding: 2px 10px
}

.form-actions {
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.form-delete{
  text-align: center;
  align-items: center;
}


.wform {
  display: flex;
  background-color: white;
  z-index: 10;
  top: -40px;
  flex: 0 0 25%;
  flex-direction: column;
  align-items: center;
  margin: 70px 30px;
  border-radius: 3px;
  border: 1px solid $light-gray;
  padding: 70px 30px;
  position: relative;
}

.wform h2 {
  color: $blue;
  margin-top: 0px;
  margin-bottom: 25px;

}

.wform .form-group {
  margin-left: 0px;
}

.button-container{
  align-items: center;
  justify-content: center;
}

.links{
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-top: 30px;
}




