/* Main navbar */

.search-navbar-size{
  height: 41px !important;
  padding: 10px !important;
}

.nav-search-form-inline{
  padding: 8px 10px !important;
}

.navbar-logo{
  color: $white;
  font-family: "Lato";
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 900;
  margin:0px;
  position: absolute;
  left: 25px;
  top: 17px;

  .navbar_logo_r_color {
    color: $white;
  }
}

.img-logo{
  padding-bottom: 5px;
  height: 36px;
}

.img-logo-home{
  padding-bottom: 5px;
  height: 32px;
}

.nav_search_bar_container {
  width: 800px;
  margin: auto;
  padding-top: 10px !important;
}

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #fdcb6e;
  transition: all 0.3s ease;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-arrow-right {
  color: $white;
}

.research-button-navbar {
      background-color: $yellow;
      border-bottom-left-radius:0px ;
      border-bottom-right-radius: 6px ;
      border-top-left-radius:0px ;
      border-top-right-radius: 6px ;
      height: 41px ;
      width: 53px ;
      font-size: 19px;
      border: 2px solid $white;
      background-color: #button;
    .research-button:hover {
      background-color: rgb(255, 189, 66);
    }
}

#connect_with {
  margin-right: 10px;
  padding: 15px 0;
  margin-top: 0px;
  font-size: 16px;
  color: #3C5B97;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  position: absolute;
  top: 8px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  justify-content: center;
  text-align: center;
  font-family: Lato;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: $white;
  font-size: 17px;
  padding-top: 9px;

  // .fa-heart{
  //   color: $red;
  // }
}
.navbar-wagon-link:hover {
  color: $dark-gray;
  text-decoration: none;
  .fa-heart{
    color: $red;
  }
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


