.search_bar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 42, 86,0.9);
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 9px 31px -13px $box-shadow;

  .search-form-inline {
    flex: 0 0 40%;
    color: rgba(255, 255, 255, 1);
    background-color: $medium-blue;
    outline:none;
    padding: 10px 15px;
    opacity: 1;
    box-shadow: 0px 9px 31px -13px $box-shadow;

  }

  .search-form-inline::placeholder {
    color: rgba(245, 246, 250,0.6);
    caret-color: white;
  }

  #search-from {
      margin-left: 0px;
      margin-right: 5px;
      padding-left: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
  }

  #search-to {
      margin-left: 0px;
      margin-right: 5px;
      padding-left: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
  }

  .search_options {
    display: flex;
    margin: 0px 5px 0px 0px;
    box-shadow: 0px 9px 31px -13px $box-shadow;

    .format-button {
      background-color: $medium-blue;
      color:  #ffffff;
      opacity: 0.9;
      height: 45px ;
      width: 90px ;
      border: none;
      padding: 10px 15px;
      appearance: none;
    }
    #format {
      padding-left: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    #pers {
      margin-left: 1px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }



    .format-button:focus {
      outline:0;
    }
  }

  .research_button_container {
    position: relative;
    text-align: center;
    margin: 0px 5px;
    margin-right: 0px;
    .research-button {
      color: #ffffff;
      background-color: $red;
      border-bottom-left-radius:2px ;
      border-bottom-right-radius:2px ;
      border-top-left-radius:2px ;
      border-top-right-radius:2px ;
      height: 45px ;
      width: 154px ;
      box-shadow: 0px 9px 31px -13px $box-shadow;
    }
  }
}


.icon {
  background-color: $medium-blue;
  height: 45px ;
  padding: 10px;
  // box-shadow: 0px 9px 31px -13px $box-shadow;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  img {
    height: 24px;
    width: auto;
    opacity: 0.8;
  }
  i {
    color: white;
    opacity: 0.8;
  }
}


