.weekend_recap_container{
  height: 60px;
  background-color: $medium-blue;
  display: flex;
  justify-content: space-between;
}

.recap_from{
  display: flex;
  align-items: baseline;
  padding: 10px;
  h1 {
    color: white;
    font-size: 20px;
  }
}

.recap_to{
  display: flex;
  align-items: baseline;
  padding: 10px;
  h1 {
    color: white;
    font-size: 20px;
  }
}

.time_line_container {
  flex-grow: 1;
}

.time_line_ul {
  position: relative;
  list-style-type: none;
  display: block;
  margin: 0px 40px;
  height: 20px;
  border-radius: 4px;
  background: $red;
  bottom: -10px;
}


.point {
  position: absolute;
  z-index: 100;
  left: 20px;
  top: -24px;
  height: 0px;
  border-radius: 50%;
  width: 0px;
  background-color: $red;
}

.month_line {
  position: absolute;
  background-color: $medium-blue;
  z-index: 100;
  left: 20px;
  top: -18px;
  height: 15px;
  border-radius: 2px;
  width: 3px;
}

.time_line_li {
  position: relative;
  color: $white;
  position: relative;
  top: 20px;
  display: inline-block;
  float: left;
  width: 6%;
  font-size: 14px;
  .time_line_date {
    margin-top: -20px;
    margin-left: 17px;
    font-weight: bolder;
  }
  .time_line_month {
    margin-left: 12vw;
    margin-top: 5px;
    font-weight: bolder;
  }
}

.selected-date {
  color: $medium-blue;
}

/* ---- Hover effects ---- */

.time_line_li:hover {
  cursor: pointer;
  color: #28e;
}
