.wishlist_filters_container {
  position: absolute;
  border-bottom: 1px solid $medium-gray;
  left: 0px;
  right: 0px;
  top: 70px;
  height: 70px;
  background-color: $white;
  padding: 10px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
      text-decoration:none;
   }


  .new-search-button {
      padding: 6px 22px;
      color: $dark-gray;
      height: 39.5px;
      border: 1px solid $dark-gray;
      background-color: $white;
      text-decoration: none;
      font-size: 18px;
      margin-top: 0px;
      margin-right: 0px;
      border-radius: 5px;
      &:hover {
        color: $yellow;
      }
    }

  .wishlist-filter-button-container {
    display: flex;
    background-color: $white;
    color: $dark-gray;
    border: 1px solid $dark-gray;
    margin-left: 5px;
    border-radius: 5px;
    margin-right: 15px;
  }

  .wishlist-button-filter {
    border: none;
    height: 35px;
    padding: 2px 20px;
    margin-left: 3px;
    background-color: $white;
    border-radius: 0px;
    appearance: none;
    &:focus {
      outline: 0;
    }
    &:hover {
      color: $yellow;
    }
  }
  .wishlish-research-button {
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 35px;
    color: $white;
    background-color: $dark-gray;
    p {
      margin: 0px;
    }
    &:hover {
      color: $yellow;
    }
  }
}

