<h1>Action Cable</h1>
<div class="weekends-wrapper">
  <div class="weekends-container">
  <div class="filters">
<!--       <div class="col-12 col-sm-6 col-md-4">
 -->
          <div class="filter">

          </div>

          <div class="filter">

          </div>

 <!--      </div> -->
    </div>

    <div class="row" id="test">
          <% content_for(:after_js) do %>
            <script>

              ul = document.querySelector('#test');
              App.cable.subscriptions.create(
                { channel: 'WeekendsChannel' },
                { received: (data) => {
                  console.log(data.content);
                  ul.insertAdjacentHTML('beforeend', data.content );
                  }
                }
              )
            </script>
          <% end %>




      <!-- end -->
    </div>
  </div>
</div>



