<h1>Action Cable</h1>
<div class="weekends-wrapper">
  <div class="weekends-container">
  <div class="filters">
<!--       <div class="col-12 col-sm-6 col-md-4">
 -->
          <div class="filter">

          </div>

          <div class="filter">

          </div>

 <!--      </div> -->
    </div>

    <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-2" id="test2">




          <% content_for(:after_js) do %>
            <script>
              ul = document.querySelector('#test2');
              App.cable.subscriptions.create(
                { channel: 'WeekendsChannel' },
                { received: (data) => {
                  ul.insertAdjacentHTML('beforeend', 'test');
                  }
                }
              )
            </script>
          <% end %>

        </div>



      <!-- end -->
    </div>
  </div>
</div>



